<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="Class_A.css">
	</head>
	<style>
	
	</style>
		body {
		font-style: italic;
		text-align: center;
		}
		.Class A {
		color: blue;
		}








