
	body {
	background-color: silver;
	}
	ul {font-family: Arial, sans-serif;
    list-style-type: upper-latin;
    color: maroon;
	}
	ol {font-family: Times New Roman, sans-serif;
    list-style-type: upper-roman;
    color: blue;
	}
	h1, ul, ol {
	text-shadow: 2px 2px black;
	}